#cur {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    transition: 300ms;
}

h1 {
    text-align: center;
    padding: 20px;
    font-weight: 500;
}

.container {
    width: 45%
}

.btnwhite {
    background-color: azure !important;
    color: black !important;
    transition: 300ms;
}

.btnwhite:hover {
    background-color: rgb(188, 252, 252) !important;
    color: black !important;
    transition: 300ms;
}

.btnmore:hover {
    background-color: rgb(99, 99, 99);
    transition: 300ms;
}

.btnmore {
    margin-top: 15px;
    display: block;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    background-color: rgb(119, 119, 119);
    text-decoration: none;
    color: white;
    transition: 300ms;
}


#main {
    display: flex;
    justify-content: space-around;
}

#hibar div>a {
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: 300ms;

}

#hibar>a {
    border-radius: 50%;
    transition: 300ms;
}

#hibar>a:hover {
    background-color: rgb(66, 66, 66);
    transition: 300ms;
}

#hibar>a>img:hover {
    opacity: 0.6;
    transition: 300ms;
}

#hibar {
    justify-content: space-between;
    display: flex;
    background-color: darkcyan;
    width: 100%;
}

#hibar>div {
    display: flex;
    align-items: center;
    background-color: darkcyan;
}

#newscontainer>div {
    border: solid 1px rgb(214, 214, 214);
    display: flex;
    flex-direction: row;
    padding: 7px;
}

#newscontainer img {
    height: 140px;
    height: 140px;
    margin-right: 10px;
}

#newscontainer>div>div>div {
    display: flex;
}

#hibar>a {
    margin-right: 30px;
}

#newscontainer>div>div>div h2 {
    flex: 1
}

#newscontainer>div>div>div p {
    font-size: 14px;
}

.reward {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reward img {
    height: 35px;
}

.speechbubble {
    position: relative;
    background-color: rgb(214, 214, 214);
    height: 40px;
    color: rgb(79, 79, 79);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oside {
    display: flex;
    width: 40%;
    align-items: center;
    color: black;

}

.medal {
    width: 10%;
    display: flex;
    align-items: center;
}

.after {
    content: '';
    width: 0;
    height: 0;
    border: 20px solid;
    z-index: -1;
    color: white
}


.arig {
    border-right-color: rgb(214, 214, 214) !important;
}

.ldate {
    width: 30% !important;
    margin: 0 10% 0 0;
}

.rdate {
    width: 30% !important;
    margin: 0 0 0 10%;
}

.alef {
    border-left-color: rgb(214, 214, 214) !important;
}



#hibar div>a:hover {
    background-color: rgb(1, 121, 121);
}

@media screen and (max-width: 800px) {
    #main {
        flex-direction: column
    }

    .container {
        width: 100%
    }
}

@media screen and (max-width: 500px) {
    #cur {
        display: none;
    }

    #newscontainer>div>div>div {
        flex-direction: column;
    }

    #hibar div>a {
        padding: 10px;
        transition: 300ms;
    }
}