@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0
}

#head {
    transition: 300ms;
    background: url('/img/channels4_banner.jpg') 54% center/cover no-repeat;
    height: 300px;
}

#head>a {
    display: block;
    width: 100%;
    height: 100%
}


@keyframes left {
    from {
        margin-left: 2000px;
    }

    to {
        margin-left: 0;
    }
}

#highbar nav ul {
    list-style: none;
}

#highbar nav {
    width: 35%;
    max-width: 350px;
    margin: 0 auto;
}

ul {
    padding-inline-start: 0px;
}

#highbar {
    transition: 300ms;
    width: 100%;
    padding: 1px 0 1px 0;
    background-color: rgb(126, 110, 68);
}

#highbar nav ul li {
    padding: 3px 0px;
    margin: 0 auto;
}

#visibl {
    animation: anim 2s
}

@keyframes anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

hr {
    border: 0px;
    background-color: coral;
    height: 7px;
    margin: 0;
}

#highbar a.button {
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="tel"],
input[type="email"] {
    border-radius: 5px;
    background: #f9f9f9;
    color: #515151;
    padding: 4px 1%;
    margin-bottom: 7px;
    border: 1px solid #ccc;
}

input:focus-visible {
    outline: 0px;
}


a.button {
    display: inline-block;
    background: rgb(62, 58, 43);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 25px;
    line-height: 1;
    position: relative;
    font-weight: 100;
    transition: 300ms;
    margin: 10px;
}

a.button:hover {
    color: rgb(143, 143, 143);
    background-color: rgb(48, 45, 36);
    transition: 300ms;
}

p {
    font-size: 23px;
    transition: 300ms;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.clear {
    clear: both;
}

@media screen and (max-width:900px) {
    html {
        transition: all 300ms
    }

    #head {
        height: 200px;
    }

    a.button {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    #bar nav ul li {
        flex-basis: 300px;
    }

    #footer li {
        margin: 5px 10px;
    }


}

@media screen and (max-width:400px) {

    p {
        font-size: 16px;
    }


}

footer>div {
    margin-bottom: 20px;
}

#center div {
    display: flex;
    width: 50%;
}

@media screen and (max-width:1400px) {
    footer ul {
        width: 50% !important;
    }
}



a.caps {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    /* max-width: 20px */
}


footer {
    background-color: rgb(126, 110, 68);
    padding: 40px 50px;
}

footer ul {
    list-style-type: none;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#social li {
    display: inline-block;
}

#social li a {
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: block;
}

footer>p {
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 15px;
}

footer ul>li {
    margin: auto 0;
    padding: 20px;
}

footer div {
    display: flex;
    justify-content: space-around;
}

a.fb {
    background: url('/imgfoot/fb_gray.png') center/cover no-repeat;
    transition: 300ms;
}

a.fb:hover {
    background: url('/imgfoot/fb.png') center/cover no-repeat;
    transition: 300ms;
}

a.yt {
    background: url('/imgfoot/youtube_gray.png') center/cover no-repeat;
    transition: 300ms;
}

a.yt:hover {
    background: url('/imgfoot/youtube.png') center/cover no-repeat;
    transition: 300ms;
}

a.vk {
    background: url('/imgfoot/vkgray.svg') center/cover no-repeat;
    transition: 300ms;
}

a.caps::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 400ms;
}

a.caps:hover::after {
    width: 100%;
}

a.vk:hover {
    background: url('/imgfoot/vk.svg') center/cover no-repeat;
    transition: 300ms;
}

/* a.caps:hover {
    text-decoration: underline black;
} */

.page {
    color: rgb(160, 160, 160);
    margin: 1rem;
    font-size: 20px;
    transition: 300ms
}

.page a:hover {
    color: rgba(117, 117, 117, 0.942);
}


.page a:-webkit-any-link {
    color: rgb(160, 160, 160);
}

.page a:-webkit-any-link:hover {
    color: rgba(117, 117, 117, 0.942);
}

h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

@media screen and (max-width:600px) {
    .page {
        margin: 2rem 1rem 1.5rem;
        transition: 300ms;
        font-size: 17px
    }

}


h2 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 50px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a78721;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #866b12;
}