@import "./base.css";

* {
  font-weight: 400;
}
.backimg {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 600px;
  flex-direction: column;

  .textcont {
    position: absolute;
    display: flex;
    align-items: center;
    margin-right: 60px;
    width: 20.8%;
    color: #ffffff;
    height: 100%;
    @media screen and (max-width: 580px) {
      margin-right: 20px;
      width: 50%;
    }
    h3 {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
    }

    p {
      color: #c0c0c0;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
hr {
  height: 2px;
  background-color: #ffffff;
  margin: 36px 0;
}
.blackbkg {
  // width: 100%;
  padding: 115px 0 100px;

  .maincont {
    width: 83.33%;
    margin: 0 auto;
    @media screen and (max-width: 580px) {
      width: 90% !important;
    }
    .textcont {
      color: #ffffff;
      margin-bottom: 40px;
      text-align: center;

      h1 {
        font-size: 40px;
        line-height: 42px;
      }

      p {
        color: #c0c0c0;
        font-size: 24px;
        line-height: 30px;
        margin: 15px 0 2px;
      }
    }

    .imgcont {
      display: flex;
      justify-content: space-around;
      margin: 0 16px 0;
      flex-wrap: wrap;

      img {
        margin: 40px 46px;
      }
    }
  }
}
button {
  transition: 300ms;
  border-radius: 14px;
  color: black;
  background-color: white;
  padding: 9px 20px 13px 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(151, 151, 151);
  transition: 300ms;
}

.iconcont {
  width: 100%;

  .icon {
    justify-content: flex-end;
    font-size: 12px;
    flex-wrap: wrap;
    line-height: 12px;
    margin: 0 40px 40px 0;
    color: white;
    display: flex;

    div {
      margin-left: 16px;

      p {
        margin: 0 0 5px 5px;
      }

      display: flex;
      flex-wrap: nowrap;
    }
  }
}
.btnround {
  color: black;

  p {
    padding: 9px 10px 13px 6px;
  }

  display: flex;
  align-items: center;
  padding: 0;

  div {
    background-color: black;
    border-radius: 45%;
    width: 32px;
    height: 32px;
    margin: 5px 0 5px 4px;
  }
}
