#cur {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    transition: 300ms;
}

h1 {
    text-align: center;
    padding: 30px;
    font-weight: 500;
}

h2 {
    font-weight: 500;
    padding: 15px;
}

#hibar>a {
    border-radius: 50%;
    transition: 300ms;
}

#hibar>a:hover {
    background-color: rgb(66, 66, 66);
    transition: 300ms;
}

#hibar>a>img:hover {
    opacity: 0.6;
    transition: 300ms;
}

#hibar div>a:hover {
    background-color: rgb(1, 121, 121);
}

#hibar div>a {
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#hibar {
    justify-content: space-between;
    display: flex;
    background-color: darkcyan;
    width: 100%;
}

#hibar>div {
    display: flex;
    align-items: center;
    background-color: darkcyan;
}

span {
    padding: 5px;
}

label:hover {
    cursor: pointer;
}

#bar {
    width: 90%;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(106, 151, 212);
    position: absolute;
    z-index: -1;
}

#container>.content {
    width: 45%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content>a {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(138, 138, 138);
    color: aliceblue;
    text-decoration: none;
    margin: 5px 0 20px 0;
    transition: 300ms;
    width: 100%;
    text-align: center;
}

.content>a:hover {
    background-color: rgb(113, 113, 113);
    transition: 300ms;
}

#main {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly
}

#container {
    display: flex;
    width: 68%;
    flex-direction: row;
    justify-content: space-evenly
}

@media screen and (max-width: 500px) {
    #cur {
        display: none;
    }

    #hibar div>a {
        padding: 10px;
        transition: 300ms;
    }
}

input {
    width: 100%;
    margin: 5px 0 5px 0;
}

@media screen and (max-width: 950px) {
    .content>h2 {
        padding: 9px;
        border-radius: 10px;
        background-color: rgb(106, 151, 212);

    }

    #container {
        flex-direction: column;
        width: 50%;
    }

    #container>.content {
        width: 100%;
    }

}

@media screen and (min-width: 950px) {
    #bar {
        top: 5px;
    }

}

@media screen and (max-width: 650px) {
    #container {
        flex-direction: column;
        width: 95%;
    }

    h2 {
        width: 95%;
        text-align: center;
    }

    .content {
        width: 95%;
    }

    #main {
        flex-direction: column;
        align-items: center;
    }

    #bar {
        display: none;
    }

}