#cur {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    transition: 300ms;
}

h1 {
    text-align: center;
    padding: 30px;
    font-weight: 500;
}

h2 {
    font-weight: 500;
    padding: 15px;
}

#hibar>a {
    border-radius: 50%;
    transition: 300ms;
}

#hibar>a:hover {
    background-color: rgb(66, 66, 66);
    transition: 300ms;
}

#hibar>a>img:hover {
    opacity: 0.6;
    transition: 300ms;
}

#hibar div>a:hover {
    background-color: rgb(1, 121, 121);
}

#hibar div>a {
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}

#hibar {
    justify-content: space-between;
    display: flex;
    background-color: darkcyan;
    width: 100%;
}

#hibar>div {
    display: flex;
    align-items: center;
    background-color: darkcyan;
}

span {
    padding: 5px;
}

input[type="file"] {
    visibility: hidden;
}

label:hover {
    cursor: pointer;
}

#bar {
    width: 80%;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(106, 151, 212);
    position: absolute;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
}

@media screen and (max-width: 500px) {
    #cur {
        display: none;
    }

    #hibar div>a {
        padding: 10px;
        transition: 300ms;
    }
}