/* body {
    animation: left 1s;
} */

#visibl h1 {
    text-align: center;
    font-size: 50px
}

p {
    font-size: 35px;
    font-weight: bold;
    margin-left: 15px;
    color: rgb(0, 0, 0)
}

#menu {
    display: flex;
    margin-left: 15px;
}

#menu span {
    color: rgb(0, 0, 0);
    padding: 0 50px 0 0;
    font-size: 30px;
    transition: 300ms;
}

#menu img {
    width: 70px;
    padding: 0 10px 0 10px;
    transition: 300ms;
    mix-blend-mode: darken;
}

#menu a {
    display: flex;
    align-items: center;
}

#menu li {
    padding-right: 50px;
    list-style: none;
    background: rgb(255, 255, 255);
}

#menu li:hover {
    background-color: rgba(0, 0, 0, 0.367);
    cursor: pointer;
}

@media screen and (max-width:900px) {
    #visibl img {
        width: 50px;
        transition: 300ms
    }

    #visibl span {
        font-size: 15px;
        transition: 300ms;
    }
}

li.prof {
    padding: 5px;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 10px;
}

.speech-bubble {
    position: relative;
    background-color: #292929c2;
    width: 200px;
    height: 300px;
    line-height: 150px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 16px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid;
    border-right-color: #292929c2;
    top: 75%;
    right: 100%;
    margin-right: 0px;
    z-index: -1;
}