/* body {
    animation: left 1s;
} */

#visibl h1 {
    text-align: center;
    font-size: 50px
}

#visibl h2 {
    font-size: 35px;
    font-weight: bold;
    margin-left: 15px;
    color: rgb(0, 0, 0)
}

#menu {
    display: flex;
    margin-left: 15px;
}

#menu span {
    color: rgb(0, 0, 0);
    padding: 0 50px 0 0;
    font-size: 30px;
    transition: 300ms;
}

#menu img {
    width: 70px;
    padding: 0 10px 0 10px;
    transition: 300ms;
    mix-blend-mode: darken;
}

#menu a {
    display: flex;
    align-items: center;
}

#menu p {
    display: none
}

#menu li {
    padding-right: 50px;
    list-style: none;
    background: rgb(255, 255, 255);
}

#menu li:hover {
    background-color: rgba(0, 0, 0, 0.367);
    cursor: pointer;
}


li.prof {
    padding: 5px;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 10px;
}

#speechbubble {
    position: relative;
    background-color: #292929c2;
    width: 70%;
    height: 465px;
    color: white;
    border-radius: 10px;
    margin: 15px 10px 15px 20px;
    max-width: 470px
}

#speechbubble>::-webkit-scrollbar {
    border-radius: 10px
}

#speechbubble>p {
    margin: 5px;
    overflow: auto;
    height: 95%;
}

#after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid;
    border-right-color: #292929c2;
    top: 12%;
    right: 100%;
    margin-right: 0px;
    z-index: -1;
    transition: top 300ms;
}

@media screen and (max-width:900px) {
    #visibl img {
        width: 50px;
        transition: 300ms;
    }

    #menu li {
        padding-right: 0px;
    }

    #menu span {
        padding-right: 10px;
    }

    #visibl span {
        font-size: 15px;
        transition: 300ms;
    }

    #speechbubble {
        height: 365px;
    }

}

@keyframes anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

p {
    animation: anim 400ms;
}

@media screen and (max-width:600px) {
    #speechbubble {
        height: 465px;
    }

    #menu span {
        padding: 0 0px 0 0;
    }

    #menu li {
        padding-right: 5px;
    }

    #menu a {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}