#visibl h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: 600;
}


#text p {
    font-size: 35px;
    font-weight: 500;
    margin-left: 50px;
    color: rgb(0, 0, 0)
}

#text>ul {
    padding-left: 30px;
}

h2 {
    font-weight: 600;
}

#menu {
    display: flex;
    margin-left: 15px;
}

#menu span {
    color: rgb(0, 0, 0);
    padding: 0 50px 0 0;
    font-size: 30px;
    transition: 300ms;
}

#text {
    display: flex;
    align-items: center
}

#text>img {
    width: 300px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 7px rgb(0, 0, 0);
}

#menu img {
    width: 70px;
    padding: 0 10px 0 10px;
    transition: 300ms;
    mix-blend-mode: darken;
}

#menu a {
    display: flex;
    align-items: center;
}

#menu p {
    display: none
}

#menu li {
    padding-right: 50px;
    list-style: none;
    background: rgb(255, 255, 255);
    transition: 300ms;
}

#menu li:hover {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 300ms;
}


li.prof {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

#speechbubble {
    position: relative;
    background-color: #292929c2;
    width: 65%;
    height: 466px;
    color: white;
    border-radius: 10px;
    margin: 14px 10px 14px 20px;
    max-width: 470px;
}

#speechbubble>::-webkit-scrollbar {
    border-radius: 10px
}

#speechbubble>p {
    margin: 5px;
    overflow: auto;
    overflow-x: hidden;
    height: 95%;
}

#after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid;
    border-right-color: #292929c2;
    top: 6%;
    right: 100%;
    margin-right: 0px;
    z-index: -1;
    transition: top 300ms;
}

#menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width:900px) {
    #menu img {
        width: 50px;
        transition: 300ms;
    }

    #menu li {
        padding-right: 0px;
    }

    #menu span {
        padding-right: 10px;
    }

    #visibl span {
        font-size: 15px;
        transition: 300ms;
    }

    #speechbubble {
        height: 365px;
    }

}

p {
    animation: anim 400ms;
}

@media screen and (max-width:600px) {
    #speechbubble {
        height: 465px;
    }

    #text p {

        margin-left: 10px;

    }

    #menu span {
        padding: 0 0px 0 0;
    }

    #menu li {
        padding-right: 5px;
    }

    #menu a {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:900px) {
    #text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}