#main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center
}

#main>div {
    display: flex;
    align-items: flex-end
}

#main>div>div>div p {
    font-size: 15px;
    color: rgb(162, 162, 162)
}

#main>div>div>div {
    font-size: 20px;
    padding-left: 10px
}

.user {
    display: flex;
    width: 25%;
    /* height: 20% */
    text-align: center;
    align-items: center;

}

.massage {
    margin: 10px;
    width: 50%;
    border-radius: 25px;
}

.sender {
    width: 25%;
    /* height: 20%; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
}

img {
    width: 50%;
    height: 50%;
    max-width: 100px;
    max-height: 100px;
}

.massage>p {
    padding: 20px
}

.rose {
    flex-direction: row
}

.blue>.massage {
    background-color: rgba(135, 207, 235, 0.677);
    border-bottom-left-radius: 0px;
}

.rose>.massage {
    background-color: rgba(193, 117, 168, 0.661);
    border-bottom-right-radius: 0px;
}

.blue>.user {
    flex-direction: row-reverse
}

.rose>.user {
    flex-direction: row
}